# Temel Flask ve Sunucu
Flask==3.1.1
gunicorn==23.0.0
itsdangerous==2.2.0
Werkzeug==3.1.3

# Veritabanı (MySQL)
PyMySQL==1.1.2
Flask-MySQLdb==2.0.0
Flask-pymysql==0.2.4
mysqlclient==2.2.7

# Güvenlik ve Formlar
passlib==1.7.4
Flask-WTF==1.2.2
bcrypt==4.3.0

# E-posta Gönderme ve HTTP İstemcileri
requests==2.32.3
urllib3==1.26.20
certifi==2025.4.26
idna==3.10
charset-normalizer==3.4.1
aiohttp==3.12.15

# Diğer Gerekli Yardımcılar
Pillow==11.2.1
python-dotenv==1.1.0
python-dateutil==2.9.0.post0
