{% extends "layout.html"%}


{% block title %}
activate
{% endblock %}

{% block gui %}
<br>
<br>
<br>
<br>
<br>
<br>
<img src="{{ url_for('static', filename='verified.svg') }}" alt="Arrow Right" class="bennet" style="width: 1em; height: 1em;">

<br>
<br>
<div class="group">
<h1 class="btn-fire">
    Hemen aktivasyon kodun ile üyeliğini aktifle
</h1>
</div>
<br>
<br>
<form action="/initialize" method="post" class="w-100">
        <div class="gradient-input-wrapper mb-3">
            <div class="input-group">
                <input type="search" class="form-control form-control-lg" name="activation_code" placeholder="Aktivasyon Kodunuz" aria-label="Aktivasyon Kodunuz" required>
                
                <div class="input-group-append">
                    <button class="btn btn-lg btn-success" type="submit">Doğrula</button>
                </div>
            </div>
        </div>
    </form>
<style>
    .btn.btn-lg {
        font-weight: bold;
        background: linear-gradient(89.58deg, #ff8f00, #e65100, #e53935);
        border: none;
        color: white;
        transition: all 0.3s ease;
    }
     body {
        background-image: url("{{ url_for('static', filename='backend1.jpeg') }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        
        color:white;
        font-family: Google Sans, sans-serif !important;
    }
    .bennet {
        transform:scale(8);
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
        text-align:center;
        margin-left:50%
        
    }
    .btn-fire {
        
        
    }
    .group {
        max-width: 350px;
        
        margin:auto;
        text-align:center;
        margin-top:3%;
        align-items: center  !important;
        
        
        
        
    }
    /* ----------------------------------------------------------------- */
/* 1. KAPSAYICI STİLİ (Gradient'i Taşıyan Katman) */
/* ----------------------------------------------------------------- */
.input-group {
    
    
   
    background-image: linear-gradient(90deg, #ff8f00, #e65100, #e53935);
    
    
    padding: 4px; 
    
   
    border-radius:15px;

    border: 1px;
    
    
    transition: background-image 0.5s ease;
}


.content {
    
    background-color: #1f2833; 
    color: white; 
    
   
    padding: 20px; 
    
    
    border-radius: 11px; 
    
    
    text-align: center;
    font-size: 1rem;
}


.input-group:hover {
   
    background-image: linear-gradient(-135deg, #1e90ff, #50c878, #ff69b4);
}

</style>
{% endblock %}