{% extends "layout.html" %}

{% block title %}
Yeni Kullanıcı Adı Düzenle
{% endblock %}

{% block gui %}
<br>
<br>
<br>
<br>
<br>
{% from "includes/formhelpers.html" import render_field %}
<div class="bro">
  <form method=post>
    <dl>
      {{ render_field(form.username,class = "form-control username-field") }}
      {{ render_field(form.newusername,class = "form-control newusername-field") }}
     
    </dl>
    <p><input type=submit value=Değiştir class="btn btn-primary"></p>
  </form>
</div>

<style>
.btn {
    background-color: #007bff; /* Bootstrap mavi rengi */
    color: white; /* Beyaz yazı rengi */
    border: none; /* Kenarlık yok */
    padding: 10px 20px; /* Yeterli iç boşluk */
    border-radius: 5px; /* Yuvarlak köşeler */
    font-size: 16px; /* Okunaklı font boyutu */
    cursor: pointer; /* Fare imlecini el işaretine çevirir */
    border:2px solid black;
    border-radius:44px;
    transition : transform 0.3s ease;
}
.btn:hover {
  transform : scale(1.05)

}
.form-control {
  color:black;
  font-family: "arial";
  transition: transform 0.4s ease;
  border: 2px solid grey;
  border-radius:44px;
  width:90%;
  


}
.form-control:hover {
  background-color: rgba(231, 228, 228, 0.89);
  transform: scale(1.05);
  transition: all 0.4s ease;
  z-index:10;

}
.username-field {
  color:#fff;
}
.navbar {
  background: rgba(14, 12, 12, 0.705)
  
}

body {
    display: flex;
    justify-content: center; /* Yatayda ortalama */
    align-items: center;     /* Dikeyde ortalama */
    min-height: 100vh;       /* Sayfanın tamamını kaplaması için */
    margin: 0;
}
.bro {
  border: 2px solid black;
  padding:40px;
  align-items: center;
  justify-content: center;
  border-radius:44px;
  
}
</style>
{% endblock %}
