{% extends "layout.html" %}

{% block title %}
Learning
{% endblock %}

{% block gui %}
<script> alert("lütfen talimatlara uyun Teşekkürler.")</script>
<br>
<br>
<br>
<br>


{% from "includes/formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.prompt,class = "form-control") }}
    {{ render_field(form.output,class = "form-control") }}
    
  </dl>
  <p><input type=submit value=Gönder class = "equal">
</form>
<br>
<br>
<br>
<div class="border">
        <h5>Merhaba. yapay zeka modelleri eğitmek için büyük veri setleri gerekir bizde bu yüzden yapacağımız yapay zeka modeli için sizin girdiğiniz girdi ile bir hikaye parçası yazılmalıdır bu girdi kısmı olacak çıktı kısmına ise anlatılan şeyin konusu (korku,eğlence,komedi,gezi,okuma,film,vb.) olacaktır.</h5>
    </div>

<div class="container my-5 text-center">
    <h3>Örnek:</h3>
    <img src="{{ url_for('static', filename='erpe.png') }}" alt="Örnek bir resim" class="img-fluid rounded grow">
</div>

<style>
    body {
        background-color: black;
        color: #fff;
    }
    .form-control {
        
        transition: all 0.4s ease;
        border-radius:9px;
        font-weight:bold;
        font-family:"arial";
    }
    .form-control:hover {
        transform: scale(1.05);
        background-color:rgb(212, 210, 210);
    }
    .equal {
        background-color:rgba(56, 255, 212, 0.979);
        border:2px solid rgb(0, 0, 0);
        border-radius:44px;
        width:100%;
        height:10%;
        
        
        transition: all 0.4s ease;
    }
    .equal:hover {
        transform:scale(1.05);
        background-color: rgb(42, 204, 191);
    }
    .border {
        padding:20px;
        border:3px solid white;
        border-radius:44px;
        text-align:center;
    }
    .img-fluid {
        max-width: 100%; 
        height: auto;    
    }
    .grow {
        transition: transform 0.3s ease;
        cursor: pointer;
    }
    .grow:hover {
        transform: scale(1.05);
    }
    .text-center {
        text-align: center;
    }
    

    
</style>
{% endblock %}