{% extends "layout.html" %}

{% block title %}
search
{% endblock %}

{% block gui %}
<br>
<br>
<br>
<br>
<h1>Search <img src="{{ url_for('static', filename='search.svg') }}" alt="Arrow Right" class="ml-2" style="width: 1em; height: 1em;"></h1>


<form action="/searchuser" method="post">
  <input type="text" placeholder="Bir makale ara" class="main" name="keyword">
  
  
</form>
 <style>
    .ml-2 {
        transform: scale(0.85);
    }
    
    h1 {
        font-weight:bold;
        font-family:"inter";
        font-size:64px;
        color:white;


    
    }
    input {
        border: 3px solid lightblue;
    }
    input:hover {
        background-color:rgb(108, 173, 170);
        transition: background-color 0.5s ease;
       
    
    
    
    
    
    }
    .input-group {
        border-radius:45px;
    }
    body {
        background-color:black;
        font-family: Google Sans, sans-serif !important;

    }
    .container {
        background-color: black;
    }
    .main {
        width:70%;
        border: 2px solid white;
        border-radius:100px;
        padding:10px;
    }
    .voic {
        
        border:2px solid white;
        border-radius:50px;
        
        color:white;
        font-family: 'Product Sans Black', sans-serif !important;
        background:black;
        padding:10px;
        text-align: center;
        align-items: center;
        font-weight: inherit;
        background: linear-gradient(90deg,#078efb 0,#ac87eb 66.7%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        transition: text 0.5s ease;
        transition: transform 0.4s ease;
        box-sizing: border-box;
        border: 2px solid #078efb;
        box-shadow: 0 0 15px;
        


    }
    .voic:hover {
        transform : scale(1.05);
        border: 2px solid rgb(30, 99, 179);
    }
    





 </style>
 {% endblock %}